# Temporary and log files
*.swp
*.swo
*.log
.tmp
 
# Tests
selenium-debug.log
test/unit/coverage
test/e2e/reports

# The distribution directories
dist/
 
##########################
##  __   __   __|  ___  ##
## |  ) (__) (__| (__/_ ##
##########################
node_modules
npm_debug.log
npm-debug.log
 
##################################
## |__   __           ___   __  ##
## |__) (__) (__(__( (__/_ |  ' ##
##################################
bower_components
 
###########################
##    __  __    __   __  ##
## __)  (__( __)  __)    ##
###########################
.sass-cache/
*.css.map
 
############################################
##         o  __   __|  __            __  ##
## (__(__( | |  ) (__| (__) (__(__( __)   ##
############################################
Thumbs.db
*.ini
 
#######################
##  __ __   __   __  ##
## |  )  ) (__( (___ ##
#######################
.DS_Store
 
# Font style from flipmytext.com/ascii/