{
  "prod": {
    "host": "host.com",
    "username": "user",
    "password": "pass",
    "port": "2222",
    "deploy_path": "~/path/to/dist",
    "local_path": "path/to/local",
    "current_symlink": "current",
    "debug": true
  }
}
